ServiceTest/Service References/BeaconPocService/BeaconService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BeaconService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ax2012r3-demo-krissjessen2-2caf9e58513e877c.cloudapp.net/BeaconPocService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ax2012r3-demo-krissjessen2-2caf9e58513e877c.cloudapp.net/BeaconPocService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ax2012r3-demo-krissjessen2-2caf9e58513e877c.cloudapp.net/BeaconPocService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BeaconPocService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBeaconPocService_GetAppInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppInfo" />
  </wsdl:message>
  <wsdl:message name="IBeaconPocService_GetAppInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IBeaconPocService_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="IBeaconPocService_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="IBeaconPocService">
    <wsdl:operation name="GetAppInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBeaconPocService/GetAppInfo" message="tns:IBeaconPocService_GetAppInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBeaconPocService/GetAppInfoResponse" message="tns:IBeaconPocService_GetAppInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IBeaconPocService/GetVersion" message="tns:IBeaconPocService_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBeaconPocService/GetVersionResponse" message="tns:IBeaconPocService_GetVersion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBeaconPocService" type="tns:IBeaconPocService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAppInfo">
      <soap:operation soapAction="http://tempuri.org/IBeaconPocService/GetAppInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://tempuri.org/IBeaconPocService/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BeaconService">
    <wsdl:port name="BasicHttpBinding_IBeaconPocService" binding="tns:BasicHttpBinding_IBeaconPocService">
      <soap:address location="http://ax2012r3-demo-krissjessen2-2caf9e58513e877c.cloudapp.net/BeaconPocService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>